body{
    margin: 0%;
    background-color: lightgray;
    font-family: sans-serif;
}

h1, h2 {
    color: rgb(2, 79, 79);
}

header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    position: absolute;
    left: 0%;
    height: 70vh;
    width: 300px;
    background-color: rgb(124, 121, 121)

}

section{
    position: relative;
    left: 300px;
}

button{
    text-transform: uppercase;
    background-color: rgb(0, 116, 116);
    position: relative;
}

